env:
  node: true

rules:
  block-scoped-var: 1
  consistent-return: 1
  dot-notation: 1
  guard-for-in: 1
  no-caller: 1
  no-div-regex: 1
  no-else-return: 1
  no-empty-label: 2
  no-eq-null: 1
  no-eval: 2
  no-extend-native: 2
  no-extra-bind: 1
  no-implied-eval: 2
  no-invalid-this: 1
  no-iterator: 1
  no-labels: 2
  no-loop-func: 1
  no-multi-spaces: 1
  no-multi-str: 1
  no-native-reassign: 2
  no-new-func: 2
  no-new-wrappers: 2
  no-new: 1
  no-octal-escape: 1
  no-octal: 1
  no-param-reassign: 1
  no-proto: 1
  no-redeclare: 2
  no-return-assign: 1
  no-self-compare: 1
  no-sequences: 1
  no-throw-literal: 2
  no-unused-expressions: [1, { allowShortCircuit: true, allowTernary: true }]
  no-useless-call: 1
  no-useless-concat: 1
  no-void: 1
  quotes: [1, "double", "avoid-escape"]
  vars-on-top: 1
  wrap-iife: [1, "inside"]
  yoda: 1
