gulp:
  base     : 'gulp'
  file     : '../gulpfile.coffee'
  tasks    : 'tasks/**/*.coffee'
  conf     : 'conf/**/*.cson'
tsconf     : 'tsconfig.json'
dtsmconf   : 'dtsm.json'
srcDir:
  base     : 'src'
  srcIndex : 'index.ts'
  srcTs    : '**/*.ts'
  srcJs    : '**/*.js'
  srcDts   : '**/*.d.ts'
  typings  : '../typings/**/*.d.ts'
distDir:
  prod:
    base   : 'build'
  debug:
    base   : 'dist'
    jsDir  : 'js'
    dtsDir : 'definitions'
    mapDir : 'maps'
testDir:
  srcDir:
    base   : 'test'
    srcTs  : '**/*.ts'
    typings: '../typings/**/*.d.ts'
    libs   : '../build/**/*.d.ts'
  distDir:
    base   : 'test-build'
    mapDir : 'maps'
    testTs : '**/test_*.js'
