gulp:
  base     : 'gulp'
  file     : '../gulpfile.coffee'
  tasks    : 'tasks/**/*.coffee'
  conf     : 'conf/**/*.cson'
tsconf     : 'tsconfig.json'
dtsmconf   : 'dtsm.json'
libTyping  : 'lib-typings/*.d.ts'
srcDir:
  base     : 'src'
  srcIndex : 'index.ts'
  srcTs    : '**/*.ts'
  srcJs    : '**/*.js'
  srcDts   : '**/*.d.ts'
  typings  : '../typings/**/*.d.ts'
distDir:
  prod:
    base   : 'lib'
  debug:
    base   : 'dist'
    jsDir  : 'js'
    dtsDir : 'definitions'
    mapDir : 'maps'
  docs:
    base   : 'docs'
    refsDir: 'reference'
testDir:
  srcDir:
    base   : 'test'
    srcTs  : '**/*.ts'
    typings: '../typings/**/*.d.ts'
    libs   : '../lib/**/*.d.ts'
    datas  : '**/data/*'
    typingTest : '../lib-typings/*-tests.ts'
  distDir:
    base   : 'test-build'
    mapDir : 'maps'
    testTs : '**/test_*.js'
docsDir:
  base     : 'docs'
  examples :
    base   : 'examples'
    srcJs  : '**/*.js'
